.App {
  text-align: center;
} 
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



* {
  margin:0;
  padding:0;
}

body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}

/* 
///////////////////////////////////////////////////
PARTIE HEADER
//////////////////////////////////////////////////
*/

.headerTop {
  background: #6441a4;
  height: 50px;
  position:fixed;
  width: 100%;
  z-index: 1000;
}

.listeMenu {
  height:50px;
  display: flex;
  align-items: center;
  width: 100%;
}

.liensNav {
  list-style-type: none;
  padding: 0 20px;
}

.liensNav:nth-child(4) {
  margin:0 auto;
  flex-shrink: 1;
  width: 600px;
}

.logo {
  margin-top: 5px;
}

.formSubmit{
  display: flex;
  flex-shrink: 1;
}

.logoLoupe {
  width: 20px;
}

.inputRecherche {
  width: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* SA Version avec bouton en blanc */
/* .liensNav button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px 20px;
  border: none;
  } */
  /* FIN de SA Version avec bouton en blanc */

  /* MA version avec bouton en gris */
  .liensNav button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4px 20px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: rgb(219, 215, 215);
    }
    /* FIN de Ma version avec bouton en gris */

  .menuResBtn {
    /* display: none; */
    position: fixed;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
  }

  .menuIco {
    width: 25px;
    height: 25px;
  }


  .link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  .link:hover{
    color: #fff;
    text-decoration: none;
  }

  @media screen and (max-width: 950px) {
    .liensNav:nth-child(4) {
      width: 550px;
    }
  }

  @media screen and (max-width: 900px) {
    .listeMenu {
      flex-direction: column; 
      height: 250px;
      padding-top: 50px;   
    }

.liensNav {
height: 100px;
background: #6441a4;
width: 100%;
}

.liensNav:nth-child(4) {
  width: 100% !important;
  padding: 10px 0 20px 0;
}

.formSubmit {
  justify-content: center;
}

.menuResBtn {
  display: block!important;
  z-index: 1000;
}
  }

  /* 
  ///////////////////////////////////////////////////
  FIN de PARTIE HEADER
  //////////////////////////////////////////////////
  */


   /*
  ///////////////////////////////////////////////////
  PARTIE SIDEBAR
  //////////////////////////////////////////////////
  */

  .sidebar {
    position: fixed;
    top: 50px;
    width: 239px;
    /* font-size: 10px;
    margin-top: 10px; */
    background: #19171c;
    height: 100vh;
  }
  
  .titreSidebar {
    padding: 30px 0px 20px 0;
    color: #efebf5;
    font-size: 14px;
    font-weight: 500;
  }

  .listeStream {
    padding: 0 0 0 10px;
    color: #efebf5;
  }


  .containerFlexSidebar {
    padding: 10px 15px 8px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
  }

  .containerFlexSidebar:hover {
    background: rgb(255,255,255,0.2);
  }

  .profilePicRound {
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .streamUser {
    color: #f1f1f1;
    flex-basis: 50%;
    overflow: hidden;
    text-align: left;
  }

  .viewerRight {
    color: #aeabb6;
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
  }

  .redPoint {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    color: red;
    background: crimson;
    margin-right: 5px;
    margin-top: 5px;
  }

  .gameNameSidebar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aeabb6;
    text-align: left;
    margin-top: 5px;
  }

  @media screen and (max-width:1200px) {
    .sidebar {
      display: none;
    }
  }
  /*
  ///////////////////////////////////////////////////
  FIN de PARTIE SIDEBAR
  //////////////////////////////////////////////////
  */


/*
  ///////////////////////////////////////////////////
  PARTIE GAMES
  //////////////////////////////////////////////////
  */

  .titreGames {
    padding-top: 90px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 300;
    padding-left:260px;
  }
  
  .flexAccueil {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 260px;
    }

    .carteGames{
      height: 480px;
      width: 280px;
      margin: 0 30px 30px 0;
      position: relative;
      transition: all 0.4;
      border-radius: 10px;
      box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);
      }
      
      .carteGames:hover {
      transform: translateY(-5px);
      }

      .imgCarte {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .cardBodyGames {
        height: 144px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        }

        .btnCarte{
          height: 50px;
          width: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          background-color:#6441a4;
          font-size: 14px;
          line-height: 1.125;
          border-radius: 5px;
          padding: 2px 5px;
          cursor: pointer;
        }

        .btnCarte:hover{
          text-decoration: none;
          color: #fff;
        }
        
        .titreCartesGames {
          font-size: 22px;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 80%;
          overflow: hidden;
          font-weight: 500;
          font-size: 18px;
        }
        
        @media screen and (max-width:1200px) {
          .titreGames {
            padding-left: 0px;
          }
          .flexAccueil {
            padding-left: 30px;
          }
        }

        @media screen and (max-width:600px) {
          .titreGames {
            font-size: 40px;
          }
        }

  
        @media screen and (max-width:559px) {
          .carteGames {
            margin: 0 0 30px 0;
          }
          .flexAccueil {
            padding-left: 0px;
          }
        }

  /*
  ///////////////////////////////////////////////////
  FIN de PARTIE GAMES
  //////////////////////////////////////////////////
  */

  /*
  ///////////////////////////////////////////////////
  PARTIE TOPSTREAMS
  //////////////////////////////////////////////////
  */

  .titleStreams {
    padding-top: 90px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: 300;
    padding-left:260px;
  }


  .cardStream {
    height: 420px;
    width: 320px;
    margin: 0 30px 30px 0;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);
  }

.cardStream:hover {
  transform: translateY(-5px);
}

  .imgCard {

  }

  .cardBodyStream {
    height:180px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
  }

  .titleCardStream {
    font-size: 21px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    font-weight: 500;
  }

  .txtCardStream {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 18px;
  }

.txtCardStreamViewers {
margin-bottom: 20px;
}

@media screen and (max-width: 599px) {
  .cardStream {
    margin: 0 0 30px 0;
  }
}

.btnCardStream {

}

  /*
  ///////////////////////////////////////////////////
  FIN de PARTIE TOPSTREAMS
  //////////////////////////////////////////////////
  */


    /*
  ///////////////////////////////////////////////////
  PARTIE LIVE
  //////////////////////////////////////////////////
  */

.containerDecale {
overflow: hidden;
padding-top: 50px;
padding-left: 239px;
}


.contInfos{
color: #19171c;
display: grid;
height: 156px;
/* width: 80%; */
width: calc(100% - 340px);
grid-template: repeat(3, 35px) / 1fr 1fr;
margin-top: 5px;
}


.titleStream {
/* grid-area: 1 / 1 / 2 / 3; */
grid-area: 1/1/1/2;
text-align: left;
margin-left: 5px;
padding-bottom: 10px;
/* margin-bottom: 50px; */
font-weight: 400;
font-size: 20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.viewers {
grid-area: 1 / 2 / 2 / 2;
text-align: right;
color: crimson;
font-weight: 400;
margin: 3px 5px 0 0;
}

.infoGame {
grid-area: 2 / 1 / 3 / 3;
text-align: left;
margin-left: 5px;
}

.gameName {
grid-area: 3 / 1 / 4 / 2;
text-align: left;
margin-left: 5px;
font-weight: 400;
font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .containerDecale {
    padding-left: 0;

  }
  .contInfos {
    width: calc(100%);
  }

  .viewers {
    margin: 5px 25px 0 0;
  }
}

@media screen and (max-width:630px) {

  .contInfos {
grid-template: 45px 35px 35px 35px / 1fr 1fr;
  }

  .titleStream {
    font-size: 14px;
  }

  .gameName {
    font-size: 14px;
  }

  .infoGame {
    font-size: 14px;
  }

.viewers {
  font-size: 14px;
  margin: 0 0 0 5;
  grid-area: 4/1/5/2;
  text-align: left;
  }

}

    /*
  ///////////////////////////////////////////////////
  FIN de PARTIE LIVE
  //////////////////////////////////////////////////
  */


  /*
  ///////////////////////////////////////////////////
  PARTIE GAMESTREAMS
  //////////////////////////////////////////////////
  */

.imgCardGameStreams {
  border-radius: 10px 10px 0 0;
}

  .titleGameStreams {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 53px;
    font-weight: 300;
    padding-left:260px;
  }
  
.subtitleGameStreams {
  padding-bottom: 50px;
font-size: 25px;
font-weight: 300;
padding-left: 260px;
}

.totalViewersGameStreams {
  color: #6441a4;
}

.cardGameStreams {
  height: 380px;
  width: 320px;
  margin: 0 30px 30px 0;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);
}

.cardGameStreams:hover {
  transform: translateY(-5px);
}

.cardBodyGameStreams {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

@media screnn and (max-width: 1200px) {
  .titleGameStreams{
    padding-left: 0px;
    font-size: 30px;;
  }

.subtitleGameStreams {
  font-size: 17px;
padding-left: 0px;
padding-bottom: 50px;
}
}

@media screnn and (max-width: 559px) {
  .cardGameStreams{
margin: 0 0 30px 0;
  }
}

.viewersCard {
  /* width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 18px; */
}


  /*
  ///////////////////////////////////////////////////
  FIN de PARTIE GAMESTREAMS
  //////////////////////////////////////////////////
  */

   /*
  ///////////////////////////////////////////////////
  PARTIE RESULTS
  //////////////////////////////////////////////////
  */
.containerDecalResult {
overflow-x: hidden;
padding-top: 50px;
padding-left: 239px;
display: flex;
align-items: center;
flex-direction: column;
}

.containerDecalResult h4 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 24px;
  }
  


.cardResult{
height: 500px;
width: 350px;
margin-bottom: 35px;
position: relative;
transition: all 0.4s;
border-radius: 10px;
box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);
margin-top: 20px;
}

.imgCard {

}

.cardBodyResult{
height: 230px;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-direction: column;
}

.cardBodyResult .btnCard{
 align-self: flex-end;
  }

.txtResult {
  font-weight: 500;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
}

.btnResult {
background: rgb(255,191,0);
color: #000;
font-size: 17px;
margin-bottom: 22px;
}

.btnResult:hover {
  color:#000;
}

@media screen and (max-width:1200px) {
  .containerDecalResult {
    overflow-x: hidden;
    padding-top: 0px;
    padding-left: 0px;
  }
  .containerDecalResult h4 {
    padding-top: 100px;
  }
}




@media screen and (max-width:600px) {
  .containerDecalResult h4 {
    padding-bottom: 20px;
    font-size: 16px;
  }
  .cardResult {
    height: 500px;
    width: 300px;
  }
}

   /*
  ///////////////////////////////////////////////////
  FIN de PARTIE RESULTS
  //////////////////////////////////////////////////
  */